body {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 700px;
    height: 400px;
    background-image: linear-gradient(#87CEEB, MidnightBlue);
    border: 10px solid #0a0001;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 20px;
}
h3{
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px 2px black;
    font-family: 'Prosto One', cursive;
}

#guest-score, #home-score{
    background: #0a0001;
    font-size: 50px;
    color: #F94F6D;
    font-family: 'Press Start 2P', cursive;
    width: 120px;
    height: 80px;
    margin: 20px;
    padding-top: 30px;
    border-radius: 5px;
    border: 2px solid grey;
    background-color: #0a0001;
}

button{
    border-radius: 5px;
    border: 2px solid grey;
    background-color: #0a0001;
    color: whitesmoke;
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px black;
    transition: all .1s ease-in-out;
}

button:hover{
    transform: translateY(2px);
    box-shadow: 0 1px black;
}
